:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --alternative-accent-color: #188ce8;
  --first-text-color: #212121;
  --second-text-color: #757575;
  --alternative-second-text-color: rgba(255, 255, 255, 0.6);
  --third-text-color: #ffffff;
  --light-background-color: #f5f4fa;
  --dark-background-color: #2f303a;
  --btn-box-shadow-color: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --logo-light-theme-color: #000;
  --social-icons-color-light-theme: #afb1b8;
  --project-list__overlay-background-color: rgba(33, 150, 243, 0.9);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: var(--main-font);
  color: var(--first-text-color);
}

.link {
  text-decoration: none;
  color: var(--first-text-color);
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

@media screen and (max-width: 1199px) {
  .about {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .about {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.about__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .about__title {
    font-size: 36px;
    line-height: 1.17;
  }
}

.page-logo {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}

@media screen and (min-width: 1200px) {
  .page-logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.page-logo--accent-color {
  color: var(--accent-color);
}

.page-logo--footer {
  display: block;
  margin-right: 0;
  margin-bottom: 20px;
  padding: 0;
}

.page-logo--dark-theme {
  color: var(--third-text-color);
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
}

.social-list__icon {
  fill: var(--social-icons-color-light-theme);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: var(--third-text-color);
}

.button {
  min-width: 200px;
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  color: var(--third-text-color);
  background-color: var(--accent-color);
  box-shadow: var(--btn-box-shadow-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header {
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .page-header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (max-width: 767px) {
  .page-header__contact-list {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .page-header__contact-list {
    display: flex;
    align-items: center;
  }
}

.page-header__navigation-list {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .page-header__navigation-list {
    display: none;
  }
}

.page-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header__navigation {
  display: flex;
  align-items: center;
}

.page-header__navigation-item:first-child {
  margin-left: 88px;
}

@media screen and (min-width: 1200px) {
  .page-header__navigation-item:first-child {
    margin-left: 93px;
  }
}

.page-header__navigation-item:not(:last-child) {
  margin-right: 50px;
}

.page-header__burger-menu {
  background-color: transparent;
  border: none;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .page-header__burger-menu {
    display: none;
  }
}

.menu-icon {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__burger-menu:hover .menu-icon,
.page-header__burger-menu:focus .menu-icon {
  fill: var(--accent-color);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  padding: 48px 40px;
  background-color: var(--third-text-color);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__btn-close {
  position: absolute;
  top: 21px;
  right: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--third-text-color);
  cursor: pointer;
}

.mobile-menu__btn-close:hover,
.mobile-menu__btn-close:focus {
  color: var(--accent-color);
}

.mobile-menu__cross-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__btn-close:focus .mobile-menu__cross-icon,
.mobile-menu__btn-close:hover .mobile-menu__cross-icon {
  fill: var(--accent-color);
}

.mobile-menu__nav-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__contacts-list {
  margin-bottom: 64px;
}

.mobile-menu__nav-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__nav-link--active {
  color: var(--accent-color);
}

.mobile-menu__contact-item {
  margin-bottom: 32px;
}

.mobile-menu__tel-link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__tel-link:hover, .mobile-menu__tel-link:focus {
  color: var(--accent-color);
}

.mobile-menu__mail-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__mail-link:hover, .mobile-menu__mail-link:focus {
  color: var(--accent-color);
}

.mobile-menu__social-list {
  display: flex;
  flex-wrap: wrap;
}

.mobile-menu__social-list-link {
  display: flex;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-menu__social-list-link--deco::after {
  content: '';
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-left: 10px;
  margin-right: 10px;
}

.page-header__navigation-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__navigation-link:hover, .page-header__navigation-link:focus {
  color: var(--accent-color);
}

.page-header__navigation-link--active {
  position: relative;
}

.page-header__navigation-link--active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: currentColor;
  color: var(--accent-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-header__contact-item:first-child {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .page-header__contact-item:first-child {
    margin-right: 30px;
  }
}

.mail-link,
.tel-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-link:hover,
.mail-link:focus,
.tel-link:hover,
.tel-link:focus {
  color: var(--accent-color);
}

.mail-icon,
.tel-icon {
  margin-right: 8px;
  cursor: pointer;
  fill: currentColor;
}

.mail-icon {
  width: 14px;
  height: 10px;
}

@media screen and (min-width: 1200px) {
  .mail-icon {
    width: 16px;
    height: 12px;
    margin-right: 10px;
  }
}

.tel-icon {
  width: 10px;
  height: 14px;
}

@media screen and (min-width: 1200px) {
  .tel-icon {
    width: 10px;
    height: 16px;
  }
}

.hero {
  width: 100%;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  margin: 0 auto;
  background-color: var(--dark-background-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 767px) {
  .hero {
    max-width: 1200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/foto-mobile/hero/hero-bg-img.jpg);
  }
}

@media screen and (max-width: 767px) and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (max-width: 767px) and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/foto-mobile/hero/hero-bg-img@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 1200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/foto-tablet/hero/hero-bg-img.jpg);
  }
}

@media screen and (min-width: 768px) and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-width: 768px) and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/foto-tablet/hero/hero-bg-img@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/desktop/hero/bg-hero-img.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-width: 1200px) and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/desktop/hero/bg-hero-img@2x.jpg);
  }
}

.hero__title {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--third-text-color);
}

@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: visible;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop__modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center left;
  display: flex;
  max-width: 450px;
  max-height: 609px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--third-text-color);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  animation-duration: 3000ms;
}

@media screen and (min-width: 1200px) {
  .backdrop__modal-window {
    min-width: 528px;
    min-height: 581px;
  }
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__title {
  margin-bottom: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}

@media screen and (min-width: 1200px) {
  .modal-form__title {
    line-height: 1.15;
  }
}

.modal-form__field {
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
}

.modal-form__field:not(:last-child) {
  margin-bottom: 10px;
}

.modal-form__field-wrapper {
  position: relative;
  display: block;
}

.modal-form__input {
  display: block;
  width: 100%;
  min-height: 40px;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-form__icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__comment-field {
  width: 100%;
  resize: none;
  min-height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__comment-field:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-form__comment-field::placeholder {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__agreement {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

@media screen and (min-width: 1200px) {
  .modal-form__agreement {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-form__agreement::before {
  content: ' ';
  display: block;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  background-image: url(../images/empty_check.svg);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__check-mark:checked + .modal-form__agreement::before {
  border: 0.2px solid var(--third-text-color);
  background-image: url(../images/check.svg);
  fill: var(--third-text-color);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--alternative-accent-color);
  outline: none;
}

.modal-form-agreement:focus + .modal-form__agreement::before {
  border: 2px solid var(--accent-color);
}

.modal-form__link {
  color: var(--accent-color);
}

.modal-form__btn-close {
  position: absolute;
  top: 6px;
  right: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--third-text-color);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .modal-form__btn-close {
    top: 8px;
    right: 8px;
  }
}

.modal-form__btn {
  min-width: 200px;
  align-self: center;
  padding: 10px;
  text-align: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  color: var(--third-text-color);
  background-color: var(--accent-color);
  box-shadow: var(--btn-box-shadow-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__btn:hover, .modal-form__btn:focus {
  background-color: var(--alternative-accent-color);
  border: none;
}

@media screen and (min-width: 768px) {
  .about__advantages-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

@media screen and (max-width: 767px) {
  .about__advantages-list-item {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .about__advantages-list-item {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .about__advantages-list-item {
    flex-basis: calc((100% - 120px) / 4);
    margin-left: 30px;
    margin-top: 30px;
  }
}

.about__icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--light-background-color);
  border-radius: 4px;
  height: 120px;
  margin-bottom: 30px;
}

.about__advantages-designation {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .about__advantages-designation {
    text-align: center;
  }
}

.about__advantages-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

@media screen and (max-width: 1199px) {
  .about--for-skills {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .about--for-skills {
    padding-top: 0px;
  }
}

.about__skills-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.about__skills-list-item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}

.about__skill-thumb {
  position: relative;
}

.about__skill-example {
  position: absolute;
  left: 0;
  bottom: 0;
  min-width: 370px;
  min-height: 70px;
  padding: 27px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-text-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.about--team {
  background-color: var(--light-background-color);
}

@media screen and (min-width: 768px) {
  .about__team-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.about__team-list-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--third-text-color);
}

@media screen and (min-width: 768px) {
  .about__team-list-item {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .about__team-list-item {
    flex-basis: calc((100% - 120px) / 4);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (max-width: 767px) {
  .about__team-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.about__team-member-description {
  padding: 30px 32px;
}

.about__team-member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.about__team-member-job {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-bottom: 16px;
}

@media screen and (max-width: 767px) {
  .about--team .social-list {
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .about--team .social-list {
    justify-content: space-between;
  }
}

.about__customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: -30px;
  margin-top: -30px;
}

.about__customers-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  margin-top: 30px;
  border-radius: 4px;
  min-height: 90px;
  border: 1px solid var(--social-icons-color-light-theme);
  color: var(--social-icons-color-light-theme);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about__customers-list-item:hover, .about__customers-list-item:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

@media screen and (max-width: 767px) {
  .about__customers-list-item {
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .about__customers-list-item {
    flex-basis: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .about__customers-list-item {
    flex-basis: calc((100% - 180px) / 6);
  }
}

.about__customer-icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about__customers-list-item:hover .about__customer-icon,
.about__customers-list-item:focus .about__customer-icon {
  fill: var(--accent-color);
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-background-color);
}

@media screen and (min-width: 1200px) {
  .page-footer .container {
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-footer__left-right-sides-wrapper {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: baseline;
    margin-left: 76px;
    margin-right: 89px;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__left-right-sides-wrapper {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .page-footer__left-side-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__left-side-wrapper {
    margin-right: 70px;
  }
}

@media screen and (max-width: 767px) {
  .contacts__list {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__list {
    display: flex;
    flex-direction: column;
  }
}

.contacts__link--light-color-text {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link--light-color-text:hover, .contacts__link--light-color-text:focus {
  color: var(--accent-color);
}

.contacts__link {
  display: block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--alternative-second-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

.contacts__list-item:last-child {
  margin-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .contacts__list-item:not(:last-child) {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 768px) {
  .contacts__list-item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.page-footer__enjoy-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-text-color);
  margin-bottom: 20px;
}

@media screen and (max-width: 1199px) {
  .page-footer__enjoy-title {
    text-align: center;
  }
}

.page-footer__social-list {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1199px) {
  .page-footer__social-list {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__social-list {
    align-items: center;
    justify-content: space-between;
  }
}

.page-footer__social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer__social-list-link:hover, .page-footer__social-list-link:focus {
  background-color: var(--accent-color);
}

.page-footer__social-list-item:not(:last-child) {
  margin-right: 10px;
}

.page-footer__social-list-icon {
  fill: var(--third-text-color);
}

@media screen and (min-width: 1200px) {
  .page-footer__form-wrapper {
    margin-left: auto;
  }
}

@media screen and (max-width: 1199px) {
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.page-footer__form-title {
  display: block;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-text-color);
  margin-bottom: 20px;
}

@media screen and (max-width: 1199px) {
  .page-footer__form-title {
    text-align: center;
  }
}

.form__input {
  display: inline-block;
  min-width: 358px;
  min-height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--third-text-color);
  background-color: var(--dark-background-color);
}

@media screen and (max-width: 1199px) {
  .form__input {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .form__input {
    margin-right: 20px;
  }
}

.form__input::placeholder {
  font-family: inherit;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  background-color: inherit;
  color: rgba(255, 255, 255, 0.6);
}

.form__input:focus {
  border: 2px solid var(--accent-color);
  outline: none;
}

.form__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  color: var(--third-text-color);
  background-color: var(--accent-color);
  box-shadow: var(--btn-box-shadow-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__button:hover, .form__button:focus {
  background-color: var(--alternative-accent-color);
  outline: none;
}

.form__button-icon {
  margin-left: 10px;
  fill: currentColor;
}

.filter-btns-list {
  display: flex;
}

@media screen and (max-width: 767px) {
  .filter-btns-list {
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .filter-btns-list {
    text-align: center;
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filter-btns-list {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .filter-btns-list__item:nth-of-type(-n + 3) {
    margin-bottom: 15px;
  }
}

.filter-btns-list__item:not(:last-child) {
  margin-right: 8px;
}

.filter-btns-list__btn {
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--light-background-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btns-list__btn:hover, .filter-btns-list__btn:focus {
  background-color: var(--accent-color);
  color: var(--third-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .project-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

@media screen and (min-width: 768px) {
  .project-list__item {
    display: flex;
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .project-list__item {
    display: flex;
    flex-basis: calc((100% - 90px) / 3);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .project-list__card--height-fix {
    height: 146px;
  }
}

@media screen and (max-width: 767px) {
  .project-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.project-list__item-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-list__item-link:hover, .project-list__item-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-list__item-thumb {
  position: relative;
  overflow: hidden;
}

.project-list__item-image {
  width: 100%;
  height: 100%;
}

.project-list__overlay {
  position: absolute;
  overflow: auto;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
  background-color: var(--project-list__overlay-background-color);
  transform: translatey(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-list__item-link:hover .project-list__overlay,
.project-list__item-link:focus .project-list__overlay {
  transform: translatey(-100%);
}

.project-list__card-description {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.project-list__card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.project-list__card {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
/*# sourceMappingURL=main.css.map */