.about__advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.about__advantages-list-item {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
    margin-top: 30px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 120px) / 4);
    margin-left: 30px;
    margin-top: 30px;
  }
}

.about__icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--light-background-color);
  border-radius: 4px;
  height: 120px;
  margin-bottom: 30px;
}

.about__advantages-designation {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.about__advantages-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
