.about__container {
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .about__container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .about__container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .about__container {
    width: 1200px;
  }
}
