.page-logo {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--first-text-color);

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}

.page-logo--accent-color {
  color: var(--accent-color);
}

.page-logo--footer {
  display: block;
  margin-right: 0;
  margin-bottom: 20px;
  padding: 0;
}

.page-logo--dark-theme {
  color: var(--third-text-color);
}
